[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sphinx-rtd-theme = "*"
pydantic = "*"
python-dotenv = "*"

[dev-packages]
pytest = "*"
sphinx = "*"
pre-commit = "*"
pylint = "*"
black = "*"
platformdirs = "*"

[requires]
python_version = "3.10"
